.container{
    width: 600px;
    height: 300px;
    background-color: yellow ;

    display: grid;
    /* (2 D format me tabluar data ko form krne ki kosish krte h hm usko hi hm grid bolte h) */
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    /* (6 rows chaiye to 6 baar 100px) */

    grid-template-columns: 100px 100px ;
    /* (2 col bnana cha rhe to serf hm do baar 100px likhenge od data hmara  2 Colum tablular form me show hoga) */
 
    grid-template-columns: auto auto ;
    /* (agr mene do baar auto likha to jitni bhi width h do col me equaly divide ho jaayegi) */
}

.item{
    /* width: 100px;
    height: 50px; */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}