body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;/*same line me laane ke liye, to vertical se horizontal me sb div ke box aa jaayenge*/ 
    justify-content: center;/*pura content bich me aa jaayega*/
} 

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;/*flash=button ka background color white ho jaaye*/
}

.userflash{
    background-color: green;/*jo user flash kr rha uska background color green ho jaayega es se better smjh me aa jaayega*/
}